* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  width: 100%;
  overflow-x: hidden;
}

.wrapper .header {
  width: 100%;
  height: 4vh;
  display: flex;
  background-color: #d3d3d3;
  box-shadow: 3px 3px 10px rgba(167, 160, 160, 0.4);
}

.wrapper .header .logo {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .header .logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: blue;
  color: #f5f3f4;
  margin-right: 30px;
  font-size: 20px;
}

.wrapper .header .logo a:hover {
  background-color: #f5f3f4;
  color: blue;
}

.wrapper .header .logo i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18px;
  border-radius: 50px;
  background-color: #b1a7a6;
  color: #f5f3f4;
}

.wrapper .header .logo input {
  background-color: #b1a7a6;
  border-radius: 50px;
}

.wrapper .header .logo input::placeholder {
  color: white;
}

.wrapper .header .nav {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper .header .nav .fa {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 24px;
  color: #f5f3f4;
}

.wrapper .header .nav .fa:hover {
  background-color: #b1a7a6;
  color: #d3d3d3;
}

.wrapper .main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  width: 100%;
  height: 96vh;
}

.wrapper .main .left {
  width: 100%;
  height: 96vh;
  display: flex;
  justify-content: center;
}

.wrapper .main .left .draugai h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 900;
  padding: 20px 0;
}

.wrapper .main .left .draugai .sarasas {
  display: block;
  width: 100%;
}

.wrapper .main .left .draugai .sarasas .para {
  width: 100%;
  height: 100%;
  font-size: 18px;
}

.wrapper .main .section {
  width: 100%;
  height: 96vh;
  background-color: #f5f3f4;
  overflow-y: scroll;
}

.wrapper .main .section::-webkit-scrollbar {
  display: none;
}

.wrapper .main .section .card {
  width: 70%;
  margin-left: 15%;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #b1a7a6;
  margin-top: 10px;
  overflow: hidden;
  box-shadow: 2px 4px 20px 0px #848c93;
  padding: 10px;
  margin-top: 40px;
}

.wrapper .main .section .card:first-of-type {
  margin-top: 20px;
}

.wrapper .main .section .card:last-of-type {
  margin-bottom: 20px;
}

.wrapper .main .section .card .card_head {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 12fr 1fr;
}

.wrapper .main .section .card .card_head img {
  width: 50px;
  height: 50px;
  margin-left: 15px;
  border-radius: 50px;
}

.wrapper .main .section .card .card_head .user {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100%;
}

.wrapper .main .section .card .card_head .user .name {
  padding-left: 10px;
  width: 100%;
}

.wrapper .main .section .card .card_head .user .time {
  padding-left: 10px;
  width: 100%;
}

.wrapper .main .section .card .card_head .more {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .main .section .card .card_head .more:hover {
  background-color: #d3d3d3;
}

.wrapper .main .section .card .card__main {
  display: inline-block;
  width: 100%;
  padding: 10px 0px;
}

.wrapper .main .section .card .card__main p {
  color: black;
  font-size: 18px;
  letter-spacing: .5px;
  font-family: 'Titillium WEB', cursive;
}

.wrapper .main .section .card .card__main .gallery {
  display: inline-block;
  width: 100%;
}

.wrapper .main .section .card .card__main .gallery img {
  display: inline-block;
  width: 100%;
  height: 250px;
  background-position: center center;
  background-size: cover;
  padding: 10px 0px 0px 0px;
}

.wrapper .main .section .card .LikeCommentShare {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 5px 0px;
  border-top: 1px solid rgba(128, 128, 128, 0.788);
  border-bottom: 1px solid rgba(128, 128, 128, 0.788);
}

.wrapper .main .section .card .LikeCommentShare span {
  width: 200px;
  text-transform: capitalize;
}

.wrapper .main .section .card .LikeCommentShare span:hover {
  background-color: #d3d3d3;
  border-radius: 50px;
}

.wrapper .main .section .card .card__footer {
  display: grid;
  grid-template-columns: 1fr 10fr 4fr;
  width: 100%;
  padding: 10px 0px 5px 0px;
}

.wrapper .main .section .card .card__footer img {
  display: inline;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
}

.wrapper .main .section .card .card__footer textarea {
  border: 1px solid grey;
  border-radius: 10px;
  resize: none;
  padding: 10px 6px 0px 6px;
  margin: 0px 10px;
}

.wrapper .main .section .card .card__footer .actions {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.wrapper .main .section .card .card__footer .actions .fa {
  display: grid;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
}

.wrapper .main .section .card .card__footer .actions .fa:hover {
  background-color: #d3d3d3;
  border-radius: 50px;
}

.wrapper .main .section .right {
  width: 100%;
  height: 96vh;
  background-color: #f5f3f4;
}

.likeON {
  color: red;
}
