.wrapper {
  width: 100%;
  overflow-x: hidden;
  .header {
     width: 100%;
    height: 4vh;
    display: flex;
    background-color: #d3d3d3;
    box-shadow: 3px 3px 10px rgba(167, 160, 160, 0.4);
    .logo {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: blue;
        color: #f5f3f4;
        margin-right: 30px;
        font-size: 20px;
        &:hover {
          background-color: #f5f3f4;
          color: blue;
        }
      }
      i {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 18px;
        border-radius: 50px;
        background-color: #b1a7a6;
        color: #f5f3f4;
      }
      input {
        background-color: #b1a7a6;
        border-radius: 50px;
        &::placeholder {
          color: white;
        }
      }
    }
    .nav {
      height: 100%;
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .fa {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        font-size: 24px;
        color: #f5f3f4;
        &:hover {
          background-color: #b1a7a6;
          color: #d3d3d3;
        }
      }
    }
  }

  .main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: 100%;
    height: 96vh;
    .left {
      width: 100%;
      height: 96vh;
      display: flex;
      justify-content: center;
      
      .draugai {
       h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-weight: 900;
        padding:20px 0;
       }

      .sarasas {
        display: block;
        width: 100%;
        .para {
            width: 100%;
            height: 100%;
            font-size: 18px;
          }
        }
      }
    }
    .section {
      width: 100%;
      height: 96vh;
      box-shadow: 2px 4px 20px 0px rgb(132, 140, 147);
      background-color: #f5f3f4;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      .card {
        width: 70%;
        margin-left: 15%;
        border: 1px solid black;
        border-radius: 10px;
        background-color: #b1a7a6;
        margin-top: 10px;
        overflow: hidden;
        box-shadow: 2px 4px 20px 0px rgb(132, 140, 147);
        padding: 10px;
        margin-top: 40px;
        &:first-of-type {
          margin-top: 20px;
        }
        &:last-of-type {
          margin-bottom: 20px;
        }
        .card_head {
          display: grid;
          width: 100%;
          grid-template-columns: 1fr 12fr 1fr;
          img {
            width: 50px;
            height: 50px;
            margin-left: 15px;
            border-radius: 50px;
          }
          .user {
            display: grid;
            grid-template-rows: 1fr 1fr;
            width: 100%;
            .name { padding-left: 10px;
              width: 100%;
            }
            .time {padding-left: 10px;
              width: 100%;
            }
          }
          .more {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
              background-color: #d3d3d3;
            }
          }
        }
        .card__main {
          display: inline-block;
          width: 100%;
          padding: 10px 0px;
          p {
              color: black;
              font-size: 18px;
              letter-spacing: .5px;
              font-family: 'Titillium WEB', cursive;
          }
          .gallery {
              display: inline-block;
              width: 100%;
              img {
                  display: inline-block;
                  width: 100%;
                  height: 250px;
                  background-position: center center;
                  background-size: cover;
                  padding: 10px 0px 0px 0px;
              }
          }
      }
    
    .LikeCommentShare {
        display: flex;
        justify-content: space-between;
         text-align: center;
        padding: 5px 0px;
        border-top: 1px solid rgba(128, 128, 128, 0.788);
        border-bottom: 1px solid rgba(128, 128, 128, 0.788);
        span {
            width: 200px;
            text-transform: capitalize;
            &:hover {
              background-color: #d3d3d3;
              border-radius: 50px;
            }
        }
      }
        .card__footer {
          display: grid;
          grid-template-columns: 1fr 10fr 4fr;
          width: 100%;
          padding: 10px 0px 5px 0px;
          img {
              display: inline;
              width: 40px;
              height: 40px;
              border-radius: 20px;
              text-align: center;
              
          }
          textarea {
              border: 1px solid grey;
              border-radius: 10px;
              resize: none;
              padding: 10px 6px 0px 6px;
              margin: 0px 10px;
          }
          .actions {
              display: grid;
              width: 100%;
              grid-template-columns: 1fr 1fr 1fr 1fr;
                         .fa {
                  display: grid;
                  width: 40px;
                  height: 40px;
                  text-align: center;
                  padding-top: 10px;
                  font-size: 20px;
                  &:hover {
                    background-color: #d3d3d3;
                    border-radius: 50px;}
              }
          }
      }
      }
      .right {
        width: 100%;
        height: 96vh;
        background-color: #f5f3f4;
      }
    }
  }
}

.likeON {
  color:red;
  
}
